<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.gdgst.palmtest">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- change_network_state -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- change_wifi_state -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" /> <!-- manage_accounts -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> <!-- mount_unmount_filesystems -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- receive_boot_completed -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" /> <!-- broadcast_sticky -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" /> <!-- write_settings -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- read_phone_state -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- access_network_state -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- vibrate -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- write_external_storage -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" /> <!-- access_download_manager -->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" /> <!-- download_without_notification -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /> <!-- disable_keyguard -->
    <!-- 允许程序改变WiFi多播状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" /> <!-- change_wifi_multicast_state -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- wake_lock -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- access_coarse_location -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- access_wifi_state -->
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- read_contacts -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- read_external_storage -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- internet -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" /> <!-- receive_sms -->
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- get_tasks -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- access_fine_location -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- camera -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- record_audio -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cn.gdgst.palmtest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 友盟统计 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58a3fc4c1c5dd0092900035b" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <activity
            android:name=".main.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.TabMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".main.Tab1Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".main.Tab2Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".main.Tab4Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".tab3.SimulationPlayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".search.SearchActivity"
            android:parentActivityName=".main.TabMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".tab1.PlayVideoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".tab1.PlayListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".tab4.LoginActivity"
            android:parentActivityName=".main.Tab4Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".tab4.ResetPass"
            android:parentActivityName=".tab4.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".tab4.ResetPasswordActivity"
            android:parentActivityName=".tab4.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".tab4.ChangePassActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".tab4.AboutActivity"
            android:parentActivityName=".main.Tab4Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".tab4.FeedBackActivity"
            android:parentActivityName=".main.Tab4Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".tab4.CreateUserActivity"
            android:parentActivityName=".tab4.SendCodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--
            <activity
            android:name="cn.palmtest.tab4.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        -->
        <activity
            android:name=".tab4.SendCodeActivity"
            android:parentActivityName=".tab4.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".tab4.UserInfoActivity"
            android:parentActivityName=".main.Tab4Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".tab4.shoucang.GetCollectListActivity"
            android:parentActivityName=".main.Tab4Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".main.Tab3Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="cn.com.video.venvy.activity.VenvyVideoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".tab2.Vid_Play_Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".tab2.Video_Album_List"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".tab1.mingshi.MingShiList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".tab1.chuangke.ChuangKeList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".tab1.kaoshi.KaoShiList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".tab1.wenku.WenKuList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".tab1.wenku.WenKuDetail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".tab1.zixun.ZiXunList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".tab1.zixun.ZiXunDetail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".tab1.huizhan.HuiZhanListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".tab1.xueke.XueKeList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".tab1.examsystem.ExamListActivity"
            android:parentActivityName=".main.Tab1Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".tab1.zhuangbei.ZhuangBeiList"
            android:parentActivityName=".main.Tab1Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".tab4.history.HistoryList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".tab4.ChangeProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".main.CeShi"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".main.mediarecorder"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 百度地图设置 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>

        <!-- meta-data需要写在application中 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="7nbrpkNUKtid92zNHBh0tEVH" />
        <!-- 百度推送的配置 -->
        <!-- push富媒体，不使用富媒体推送不需要 -->
        <activity
            android:name="com.baidu.android.pushservice.richmedia.MediaListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="MediaListActivity"
            android:launchMode="singleTask" />
        <!-- push富媒体结束 -->


        <!-- push应用定义消息receiver声明 -->
        <receiver android:name="cn.baidu.push.example.MyPushMessageReceiver">
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>

        <!-- push必须的receviver和service声明 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
                <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true" />
        <!-- push结束 -->
        <!-- 在百度开发者中心查询应用的API Key -->

        <meta-data
            android:name="api_key"
            android:value="7nbrpkNUKtid92zNHBh0tEVH" />

        <activity android:name=".tab4.ExaminationActivity" />
        <activity
            android:name=".tab1.examsystem.ExamPaperResultActivity"
            android:parentActivityName=".tab1.examsystem.ExamListActivity" />
        <activity
            android:name=".tab1.examsystem.ExamPaperDetailActivity"
            android:parentActivityName=".tab1.examsystem.ExamListActivity" />

        <service android:name=".service.UpdateAppService" />

        <activity
            android:name=".tab4.RegisterActivity"
            android:parentActivityName=".tab4.LoginActivity" />
        <activity android:name=".tab4.SchoolLoginActivity" />
        <activity android:name=".tab1.vote.VoteActivity" />
        <activity android:name=".tab1.vote.VoteDetailActivity" />
        <activity
            android:name=".tab1.vote.VoteSortActivity"
            android:theme="@style/DialogTransparentTheme">
        </activity>

        <activity android:name=".tab1.vote.TestActivity">
        </activity>
    </application>

</manifest>